html {
  height: 100%;
}

body {
  padding: .5rem;
  background-color: #93b8d7;
  color: white;
}

main {
  text-align: center;
  font-family: 'Kaushan Script', 'fantasy', Papyrus; 
  margin-top: 23vh;
}

.fa {
  color: white;
  font-size: 2.5rem;
  margin: 0;
  margin-right: 0.5em;
}

.fa {
  display: none;
}

h1 {
  font-size: 4rem;
}

h2 {
  font-size: 2rem;
  margin-top: 2em;
}

footer {
  display: none;
}

@media (min-width: 598px) {
  .fa {
      display: inline-block;
      text-decoration: none;
  }
}

@media (min-width: 768px) {
  body {
      background-image: url("./img/splash-md.jpg");
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
  }

  footer {
      display: inline;
      bottom: 0;
      right: 0;
      position: absolute;
  }

  h1, h2 {
      text-shadow: #153c43 1px 1px;
  }
}

@media (min-width: 992px) {
  body {
      background-image: url("./img/splash-lg.jpg");
  }
  .fa {
      font-size: 1.5rem;
  }
  h1 {
      font-size: 5rem;
  }
  h2 {
      font-size: 3rem;
  }
}

@media (min-width: 1200px) {
  body {
      background-image: url("./img/splash-xl.jpg");
  }
}

